<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="UTF-8">
    <title>Kategoriler</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ asset('css/urunList.css') }}" rel="stylesheet">
</head>

<body>
<div class="container bg-light text-center p-2 mt-4 custom-container">
    <div class="row p-2 m-0  justify-content-center">
        <div class="col-12  mb-2">
            <h1>Kategori Ekle</h1>
        </div>
        <!-- Hata mesajlarını burada gösteriyoruz -->
        {% for message in app.flashes('error') %}
            <div class="col-12">
                <div class="alert alert-danger">
                    {{ message }}
                </div>
            </div>
        {% endfor %}
        <div class="col-12 col-md-7 col-lg-12 ">
            <form action="{{ path('kategori_ekle') }}" method="post" class="d-flex flex-wrap align-items-center">
                <div class="flex-grow-1 mr-2">
                    <label for="isim"></label><input type="text" id="isim" name="isim" class="form-control" required>
                </div>
                <div class="mt-4">
                    <button type="submit" class="btn btn-success">
                        <img src="{{ asset('icons/create.png') }}" style="height: 30px; width: 30px;" alt="create">
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="row p-2 m-0  justify-content-center">
        {% for kategori in kategoriler %}
            <div class="col-7 col-md-7 col-lg-12  mb-2">
                <hr>
                <div class="d-flex align-items-center">
                    <form id="form-{{ kategori.id }}" action="{{ path('kategori_duzenle', { 'id': kategori.id }) }}" method="post" class="d-flex align-items-center flex-grow-1 me-2">
                        <label for="input-{{ kategori.id }}"></label><input type="text" class="form-control me-2 mr-2" id="input-{{ kategori.id }}" name="isim" value="{{ kategori.isim }}" disabled>
                        <button type="button" class="bg-info border-0 mr-1" id="edit-{{ kategori.id }}" onclick="editCategory({{ kategori.id }})">
                            <img src="{{ asset('icons/update.png') }}" style="height: 40px; width: 40px;" alt="update">
                        </button>
                        <button type="button" id="save-{{ kategori.id }}" onclick="saveCategory({{ kategori.id }})" class="bg-success border-0 mr-1" style="display:none;">
                            <img src="{{ asset('icons/accept.png') }}" style="height: 40px; width: 40px;" alt="accept"></button>
                        <input type="hidden" name="_method" value="PUT">
                    </form>
                    <form action="{{ path('kategori_sil', { 'id': kategori.id }) }}" method="post" class="d-flex align-items-center">
                        <button type="submit" class="btn btn-danger">
                            <img src="{{ asset('icons/delete.png') }}" style="height: 30px; width: 30px;" alt="delete">
                        </button>
                    </form>
                </div>
            </div>
        {% else %}
            <div class="col-12 ">Henüz kategori eklenmedi.</div>
        {% endfor %}
        <div class="col-md-7 col-lg-12 col-7 mt-4 d-flex justify-content-center">
            {{ knp_pagination_render(kategoriler) }}
        </div>
    </div>
</div>

<!-- jQuery ilki, sonra Popper.js, sonra da Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="{{ asset('js/kategori.js') }}"></script>
</body>
</html>
