<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ürünler Listesi</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ asset('css/urunList.css') }}" rel="stylesheet">
</head>
<body>

<div class="container my-3 p-2 bg-white shadow-lg rounded border">
    {{ form_start(form) }}
    <div class="row m-0 p-2 text-center">
        <div class="col-12 ">
            <h2>Yeni Ürün Ekle</h2>
        </div>
        <div class="col-3 font-weight-bold">
            İsim
        </div>
        <div class="col-3 font-weight-bold">
            Açıklaması
        </div>
        <div class="col-2 font-weight-bold">
            Fiyat
        </div>
        <div class="col-2 font-weight-bold">
            Kategori
        </div>
        <div class="col-2 font-weight-bold">

        </div>

        <div class="col-3 mt-2">
            {{ form_widget(form.isim, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="col-3 mt-2">
            {{ form_widget(form.urunAciklamasi, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="col-2 mt-2">
            {{ form_widget(form.fiyat, {'attr': {'class': 'form-control', 'type': 'number', 'min': '0', 'step': 'any', 'oninput': 'validateNumber(this)'}}) }}
        </div>
        <div class="col-2 mt-2">
            {{ form_widget(form.urunKategori, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="col-2 mt-2">
            {{ form_widget(form.save, {'attr': {'class': 'btn btn-success'}}) }}
        </div>
    </div>
    {{ form_end(form) }}

    <hr>
    <div class="row p-2 mt-5 mb-2 m-0">
        <div class="col-12 text-start my-2 ">
            <h2>Ürünler Listesi</h2>
        </div>
        <div class="col-3 text-center font-weight-bold">
            İsim
        </div>
        <div class="col-3 text-center font-weight-bold">
            Açıklaması
        </div>
        <div class="col-2 text-center font-weight-bold">
            Fiyat
        </div>
        <div class="col-2 text-center font-weight-bold">
            Kategori
        </div>
        <div class="col-2 text-center font-weight-bold">

        </div>
    </div>

    {% for urun in urunler %}
        <hr>
        {{ form_start(editForms[urun.id], {'action': path('urun_duzenle', {'id': urun.id})}) }}
        <div class="row p-2 m-0 edit-row" data-urun-id="{{ urun.id }}">
            <div class="col-3 text-center">
                {{ form_widget(editForms[urun.id].isim, {'attr': {'class': 'form-control', 'disabled': 'disabled', 'data-form-field': 'isim'}}) }}
            </div>
            <div class="col-3 text-center">
                {{ form_widget(editForms[urun.id].urunAciklamasi, {'attr': {'class': 'form-control', 'disabled': 'disabled', 'data-form-field': 'urunAciklamasi'}}) }}
            </div>
            <div class="col-2 text-center">
                {{ form_widget(editForms[urun.id].fiyat, {'attr': {'class': 'form-control','type': 'number','min': '0','step': 'any','oninput': 'validateNumber(this)','disabled': 'disabled','data-form-field': 'fiyat'}}) }}
            </div>

            <div class="col-2 text-center">
                {{ form_widget(editForms[urun.id].urunKategori, {'attr': {'class': 'form-control', 'disabled': 'disabled', 'data-form-field': 'urunKategori'}}) }}
            </div>
            <div class="col-1 text-center">
                <button type="button" class="btn btn-primary btn-sm edit-btn">Düzenle</button>
                {{ form_widget(editForms[urun.id].save, {'attr': {'class': 'btn btn-success btn-sm save-btn', 'style': 'display: none;'}}) }}
                {{ form_end(editForms[urun.id]) }}
            </div>
            <div class="col-1 text-center">
                {{ form_start(deleteForms[urun.id]) }}
                <button class="btn btn-danger">Sil</button>
                {{ form_end(deleteForms[urun.id]) }}
            </div>
        </div>
    {% endfor %}
    <div class="row ">
        <div class="col-12 d-flex justify-content-center text-center p-4">
            {{ knp_pagination_render(urunler) }}
        </div>
    </div>
</div>

<!-- jQuery ilki, sonra Popper.js, sonra da Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
    function validateNumber(input) {
        // Bu fonksiyon, yalnızca sayısal karakterlerin girilmesine izin verir
        input.value = input.value.replace(/[^0-9.]/g, '');
    }
    document.querySelectorAll('.edit-btn').forEach(function(button) {
        button.addEventListener('click', function() {
            // Disable all forms
            document.querySelectorAll('.edit-row').forEach(function(row) {
                row.querySelectorAll('[data-form-field]').forEach(function(input) {
                    if (input.getAttribute('data-original-value') !== null) {
                        input.value = input.getAttribute('data-original-value'); // Orijinal değeri geri yükle
                    }
                    input.disabled = true;
                });
                row.querySelector('.edit-btn').style.display = 'inline'; // "Düzenle" butonunu göster
                row.querySelector('.save-btn').style.display = 'none'; // "Kaydet" butonunu gizle
            });

            // Enable current form
            const formRow = this.closest('.row');
            formRow.querySelectorAll('[data-form-field]').forEach(function(input) {
                const originalValue = input.value; // Mevcut değeri sakla
                input.setAttribute('data-original-value', originalValue); // Orijinal değeri sakla
                input.disabled = false;
            });
            formRow.querySelector('.edit-btn').style.display = 'none'; // "Düzenle" butonunu gizle
            formRow.querySelector('.save-btn').style.display = 'inline'; // "Kaydet" butonunu göster
        });
    });
</script>


</body>
</html>
